body {
  background-color: white;
}

/* Navbar */
#navbar-container {
  justify-content: center;
  color: black;
}

#navbar {
  width: 100%;
}
#navbarSupportedContent {
  justify-content: space-evenly;
}
#deliver {
  padding: 0;
  font-weight: 600;
  color: black;
}

#search {
  width: 650px;
  border: 1px solid rgb(11, 11, 11);
}

#nav-item {
  margin: 5px 0 0 5px;
  padding-bottom: 0px;
  color: black;
}

/* Nav and Tab container */
#tab-container {
  justify-content: flex-start;
  background-color: rgb(95, 70, 52);
}

.nav-link {
  color: white;
}

.trending-title {
  font-size: 18px;
  font-weight: 500;
}

#trending {
  padding: 0;
}

#trending-link {
  text-decoration: none;
  color: black;
}

#trending-item {
  list-style-type: none;
  margin-bottom: 10px;
}

/* All Offcanvas */
#department-cont {
  flex-direction: column;
}

#link {
  flex-direction: row;
  justify-content: space-between;
  color: black;
}

a {
  text-decoration: none;
}

/* Main container */

div>p {
  font-size: 20px;
}


.main-container {
  width: 500px;
  border-radius: 8px;
  border: 1px solid rgba(128, 128, 128, .25);
}

.list-group-container {
  width: 275px;
}

.pwd-checker-container, #submit-button-container {
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .nav {
    display: none;
  }

  .main-container {
    width: 100%;
  }
}