body {
  background-color: rgba(85,51,21,.588);
  box-sizing: border-box;
}

/* Navbar */
#navbar-container {
  justify-content: center;
  color: black;
}

#navbar {
  width: 100%;
}
#navbarSupportedContent {
  justify-content: space-evenly;
}
#deliver {
  padding: 0;
  font-weight: 600;
  color: black;
}

#search {
  width: 650px;
  border: 1px solid rgb(11, 11, 11);
}

#nav-item {
  margin: 5px 0 0 5px;
  padding-bottom: 0px;
  color: black;
}

/* Ads */
#ad-item {
  mask-image: linear-gradient(to bottom, rgb(55, 35, 2) 70%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgb(55, 35, 2) 70%, transparent 100%);
  height: 500px
}

#car-icon {
  position: absolute;
  top: 100px;
}

/* Main container */
#main-container {
  margin: 50px;
  position: absolute;
  top: 350px
}
/* Top section */
#col {
  padding: 0;
}
#title, #title-2 {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 0;
  padding-left: 20px;
  text-align: left;
  font-weight: 500;
}

#title-2 {
  padding-left: 0;
  margin-bottom: 15px;
}

#sub-title {
  font-size: 14px;
  margin-bottom: 0;
  text-align:left;
  margin-top: 15px;
  padding-left: 15px;
}

#card, #card-2, #designer-card {
  border: 2px solid white;
  background-color: rgb(245, 239, 226);
  margin-right: 30px;
  width: 500px;
}


#item {
  height: 125px;

}

#designer-card {
  margin-right: 0;
}

/* Bottom Section */
#card-2 {
  height: 350px;
  margin: 0;
}


.list-group-item {
  border: none;
  width: 200px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: rgba(0, 0, 0, .5);
}

/* Nav and Tab container */
#tab-container {
  justify-content: space-evenly;
  background-color: rgb(95, 70, 52);
}

.nav-link {
  color: white;
}

.trending-title {
  font-size: 18px;
  font-weight: 500;
}

#trending {
  padding: 0;
}

#trending-link {
  text-decoration: none;
  color: black;
}

#trending-item {
  list-style-type: none;
  margin-bottom: 10px;
}

/* All Offcanvas */
#department-cont {
  flex-direction: column;
}

#link {
  flex-direction: row;
  justify-content: space-between;
  color: black;
}

a {
  text-decoration: none;
}

/* Grocery dropdown */
#grocery-dropdown {
  width: 500px;
}

#card-container {
  height: 50px;
  margin-top: 10px;
}

.grocery-title, .gc-title {
  font-weight: 500;
  margin-bottom: 5px;
  margin-left: 15px;
}

.card-body {
  width: 400px;
  height: 50px;
  padding: 0;
}

.card-text1, .card-text2 {
  margin: 0;
}

.card-text1 {
  font-weight: 400;
}

.card-text2 {
  font-size: 14px;
}

#groc-col1, #groc-col2, #groc-col3, #groc-col4, #groc-col5 {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 150px;
  margin-right: 15px;
  background-color: rgb(241, 239, 236);
  border-radius: 8px
}

#groc-col4, #groc-col5 {
  margin-top: 15px;
  height: 150px;

}

#groc-col1, #groc-col4 {
  margin-left: 15px;
}

#grocery-img {
  padding-top: 25px;
}

#grocery-img2 {
  margin: 15px;
}

/* Gift card dropdown */
#gc-dropdown {
  width: 350px;
}

#gc-col1, #gc-col2, #gc-col3, #gc-col4 {
padding-right: 0;
}

a {
  text-decoration: none;
}

#gc-img {
  margin-top: 15px
}

.gc-title {
  margin-bottom: 0;
}

/* Mobile View */
@media screen and (max-width: 550px){
#navbar-container {
  margin-bottom: 30px;
}

  #rows {
    display: flex;
    flex-direction: column;
  }

  #card {
    margin: 0;
  }

  #search {
  width: 300px;
  }

  .deliver {
    padding-left: 3px;
  }
}